.searchInput{
    background: #fff;
    width: 90%;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 110%;
    z-index: 100;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
 
  .searchInput .resultBox{
    max-height: 280px;
    overflow-y: auto;
  }
  
  .resultBox li{
    list-style: none;
    padding: 8px 12px;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .resultBox li:hover{
    background: #efefef;
  }
  